<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Password Reset Request</title>
  </head>
  <body>
    <p>Hi {{username}},</p>
    <p>You requested a password reset.</p>
    <p>Click the following link to reset your password:</p>
    <p>
      <a href="{{host}}users/verify?token={{token}}">
        Please confirm your request.
      </a>
    </p>
    <p>If you didn't request a password reset, ignore this email.</p>
    <p>Thanks,</p>
    <p>The Our Team</p>
  </body>
</html>
